html {
  background-color: #395144;
  width: 100%;
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;

  margin: 0;
  padding: 0;
}

.todo-wrapper {
  margin-top: 50px;
  background-color: #f0ebce;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 6px 4px 20px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 6px 4px 20px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 6px 4px 20px -1px rgba(0, 0, 0, 0.81);
}

.todo-wrapper h2 {
  margin: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 2rem;
  color: #76a57a;

  text-shadow: -2px 2px 0px #000000;
}

.todo-wrapper p {
  font-style: italic;
  color: #666;
  margin: 0.5rem 1.5rem;
}

.todo-wrapper ol {
  margin: 2em 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.todo-wrapper ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin: 0.3rem 0;
  padding: 10px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.todo-wrapper input {
  margin: 0;
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  border: solid 1px #ccc;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.todo-wrapper input:focus {
  outline: none;
  border-color: #76a57a;
}

#control-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#todo-adder {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.todo-wrapper ol li.checked {
  text-decoration: line-through;
  background-color: #92f59a;
  color: #202020;
}
.checkbox-wrapper-40 {
  --borderColor: #4e6c50;
  --borderWidth: 0.125em;
}

.checkbox-wrapper-40 label {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.checkbox-wrapper-40 input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  background: #fff;
  font-size: 1.3em;
  border-radius: 0.125em;
  display: inline-block;
  border: var(--borderWidth) solid var(--borderColor);
  width: 1em;
  height: 1em;
  position: relative;
}
.checkbox-wrapper-40 input[type="checkbox"]:before,
.checkbox-wrapper-40 input[type="checkbox"]:after {
  content: "";
  position: absolute;
  background: var(--borderColor);
  width: calc(var(--borderWidth) * 3);
  height: var(--borderWidth);
  top: 50%;
  left: 10%;
  transform-origin: left center;
}
.checkbox-wrapper-40 input[type="checkbox"]:before {
  transform: rotate(45deg)
    translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2))
    scaleX(0);
  transition: transform 200ms ease-in 200ms;
}
.checkbox-wrapper-40 input[type="checkbox"]:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
  transform-origin: left center;
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type="checkbox"]:checked:before {
  transform: rotate(45deg)
    translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2))
    scaleX(1);
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type="checkbox"]:checked:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
  transition: transform 200ms ease-out 200ms;
}
.checkbox-wrapper-40 input[type="checkbox"]:focus {
  outline: calc(var(--borderWidth) / 2) dotted rgba(0, 0, 0, 0.25);
}

/* CSS button */
.button-79 {
  backface-visibility: hidden;
  background: #aa8b56;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(0.125rem);
  -webkit-transform: translateY(0.125rem);
  -moz-transform: translateY(0.125rem);
  -ms-transform: translateY(0.125rem);
  -o-transform: translateY(0.125rem);
}

.heart {
  display: flex;
  justify-content: center;
  align-content: center;
}

.heart span {
  color: #ff9100;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: 13.9rem;
  background-color: #395144;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .todo-wrapper {
    width: 90%;
  }
}
